{% extends 'layout/base.html.twig' %}

{% block navbar %}{% include 'layout/navbar_logged.html.twig' %}{% endblock %}

{% block title %}Descovria — Découvrez votre destination de rêve{% endblock %}

{% block body %}

    {# ══ HERO ══ #}
    <div class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/sidibou.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Bienvenue sur Descovria</span>
                    <h1 class="mb-4">Découvrez notre Tunisie</h1>

                </div>
                <a href="https://vimeo.com/45830194"
                   class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>

    {# ══ BARRE DE RECHERCHE ══ #}
    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ftco-search d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-12 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active mr-md-1" id="v-pills-1-tab"
                                       data-toggle="pill" href="#v-pills-1" role="tab">Rechercher un Tour</a>
                                    <a class="nav-link" id="v-pills-2-tab"
                                       data-toggle="pill" href="#v-pills-2" role="tab">Produit</a>
                                </div>
                            </div>
                            <div class="col-md-12 tab-wrap">
                                <div class="tab-content" id="v-pills-tabContent">

                                    {# Tab Tour #}
                                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel">
                                        <form action="#" class="search-property-1">
                                            <div class="row no-gutters">
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4 border-0">
                                                        <label>Événement</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-search"></span></div>
                                                            <input type="text" class="form-control" placeholder="Rechercher un lieu">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Date d'arrivée</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                                            <input type="text" class="form-control checkin_date" placeholder="Date d'arrivée">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Date de départ</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                                            <input type="text" class="form-control checkout_date" placeholder="Date de départ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Budget maximum</label>
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                                                <select class="form-control">
                                                                    <option value="">500 DT</option>
                                                                    <option value="">1 000 DT</option>
                                                                    <option value="">2 000 DT</option>
                                                                    <option value="">5 000 DT</option>
                                                                    <option value="">10 000 DT</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group d-flex w-100 border-0">
                                                        <div class="form-field w-100 align-items-center d-flex">
                                                            <input type="submit" value="Rechercher"
                                                                   class="align-self-stretch form-control btn btn-primary">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    {# Tab Produit #}
                                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel">
                                        <form action="#" class="search-property-1">
                                            <div class="row no-gutters">
                                                <div class="col-lg d-flex">
                                                    <div class="form-group p-4 border-0">
                                                        <label>Événement</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-search"></span></div>
                                                            <input type="text" class="form-control" placeholder="Rechercher un lieu">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Date d'arrivée</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                                            <input type="text" class="form-control checkin_date" placeholder="Date d'arrivée">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Date de départ</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                                            <input type="text" class="form-control checkout_date" placeholder="Date de départ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg d-flex">
                                                    <div class="form-group p-4">
                                                        <label>Budget maximum</label>
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                                                <select class="form-control">
                                                                    <option value="">500 DT</option>
                                                                    <option value="">1 000 DT</option>
                                                                    <option value="">2 000 DT</option>
                                                                    <option value="">5 000 DT</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg d-flex">
                                                    <div class="form-group d-flex w-100 border-0">
                                                        <div class="form-field w-100 align-items-center d-flex">
                                                            <input type="submit" value="Rechercher"
                                                                   class="align-self-stretch form-control btn btn-primary p-0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {# ══ SERVICES ══ #}
    <section class="ftco-section services-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                    <div class="w-100">
                        <span class="subheading">Bienvenue sur Descovria</span>
                        <h2 class="mb-4">Il est temps de commencer votre aventure</h2>
                        <p>Descovria vous propose les meilleurs événements en Tunisie et dans le monde entier. Nos experts vous accompagnent pour créer des souvenirs inoubliables.</p>
                        <p>Que vous cherchiez une plage paradisiaque, une aventure en montagne ou une immersion culturelle, Descovria a l'offre qu'il vous faut.</p>
                        <p><a href="{{ path('app_destination') }}" class="btn btn-primary py-3 px-4">Explorer les Événements</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services services-1 color-1 d-block img"
                                 style="background-image: url({{ asset('images/services-1.jpg') }});">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-paragliding"></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Activités</h3>
                                    <p>Des activités pour tous les goûts — plongée, randonnée, parapente et plus encore.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services services-1 color-2 d-block img"
                                 style="background-image: url({{ asset('images/services-2.jpg') }});">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-route"></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Organisation de Voyage</h3>
                                    <p>Nous gérons tout — vols, produits, transferts et excursions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services services-1 color-3 d-block img"
                                 style="background-image: url({{ asset('images/services-3.jpg') }});">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-tour-guide"></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Guide Privé</h3>
                                    <p>Nos guides locaux vous font découvrir les trésors cachés.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services services-1 color-4 d-block img"
                                 style="background-image: url({{ asset('images/services-4.jpg') }});">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-map"></span>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Gestion d'Itinéraire</h3>
                                    <p>Un itinéraire personnalisé adapté à vos envies et votre budget.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ══ CAROUSEL DESTINATIONS ══ #}
    <section class="ftco-section img ftco-select-destination"
             style="background-image: url({{ asset('images/bg_3.jpg') }});">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Descovria vous propose</span>
                    <h2 class="mb-4">Choisissez votre Destination</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-destination owl-carousel ftco-animate">
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-1.jpg') }});">
                                    <div class="text">
                                        <h3>Sidi Bou Saïd</h3>
                                        <span>5 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-2.jpg') }});">
                                    <div class="text">
                                        <h3>Djerba</h3>
                                        <span>8 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-3.jpg') }});">
                                    <div class="text">
                                        <h3>Hammamet</h3>
                                        <span>6 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-4.jpg') }});">
                                    <div class="text">
                                        <h3>Tozeur</h3>
                                        <span>4 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-5.jpg') }});">
                                    <div class="text">
                                        <h3>Carthage</h3>
                                        <span>3 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="{{ path('app_destination') }}" class="img"
                                   style="background-image: url({{ asset('images/place-6.jpg') }});">
                                    <div class="text">
                                        <h3>Kairouan</h3>
                                        <span>2 Tours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# ══ TÉMOIGNAGES ══ #}
    <section class="ftco-section testimony-section bg-bottom" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">Témoignages</span>
                    <h2 class="mb-4">Avis de nos Voyageurs</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for t in [
                            {name:'Ahmed Ben Salem', role:'Chef d\'entreprise', img:'person_1.jpg', text:'Service exceptionnel, voyage inoubliable à Djerba !'},
                            {name:'Fatma Trabelsi', role:'Enseignante', img:'person_2.jpg', text:'J\'ai découvert des endroits magiques grâce à Descovria.'},
                            {name:'Mohamed Chabbi', role:'Ingénieur', img:'person_3.jpg', text:'Guides passionnants, organisation parfaite. Je recommande !'},
                        ] %}
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">{% for i in 1..5 %}<span class="fa fa-star"></span>{% endfor %}</p>
                                    <p class="mb-4">{{ t.text }}</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({{ asset('images/' ~ t.img) }})"></div>
                                        <div class="pl-3">
                                            <p class="name">{{ t.name }}</p>
                                            <span class="position">{{ t.role }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}